body {
  position: relative;
  background-color: #DDDDDD;
  font-family: 'Libre_Basketville';
  font-size: 1.2vw; 
  color: #555;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

h1 {
  text-transform: uppercase;
  font-family: 'Lato';
  font-size: 1.7vw;
  color: #002233;
}

h3 {
  font-weight: lighter;
  font-family: 'Lato';
  color: lightgray;
}

.split {
  display: -webkit-box;
  display: felx;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: strech;
          align-items: strech;
}
.split p {
  flex-basis: 100%;
}
@media screen and (min-width: 900px) {
  .split p {
    flex-basis: 48%;
  }
}

nav.social {
  display: inline-block;
  padding: 0;
  margin-bottom: 18px;
}
nav.social li {
  list-style: none;
  float: left;
}
nav.social li a {
  padding: 5px;
}
nav.social li:first-child a {
  padding-left: 0;
}

.container {
  position: relative;
  width: 100%;
  margin: 50px 0;
}
.container .inner {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px 30px;
  background-color: rgb(119,173,144,.75);
}

.comparison-slider-wrapper {
  position: relative;
  width: 100%;
  margin: 20px 0;
  background-color: white;
}
.comparison-slider-wrapper .comparison-slider {
  position: relative;
  width: 100%;
  margin: 0;
  border: 5px white solid;
  box-sizing: border-box;
}
.comparison-slider-wrapper .comparison-slider > img {
  width: 100%;
  height: auto;
  display: block;
}
.comparison-slider-wrapper .comparison-slider .overlay {
  display: none;
  position: absolute;
  width: 250px;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  box-sizing: border-box;
  color: #DDD;
  text-align: right;
}
@media screen and (min-width: 767px) {
  .comparison-slider-wrapper .comparison-slider .overlay {
    display: block;
  }
}
.comparison-slider-wrapper .comparison-slider .resize {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.comparison-slider-wrapper .comparison-slider .resize > img {
  display: block;
}
.comparison-slider-wrapper .comparison-slider .resize .overlay {
  right: auto;
  left: 20px;
  text-align: left;
}

.comparison-slider-wrapper .comparison-slider .divider {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  left: 50%;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  cursor: ew-resize;
}
.comparison-slider-wrapper .comparison-slider .divider:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -9px;
  top: 50%;
  margin-top: -10px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.comparison-slider-wrapper .comparison-slider .divider:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -5px;
  top: 50%;
  margin-top: -6px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.comparison-slider-wrapper .comparison-slider .divider.draggable:before {
  width: 30px;
  height: 30px;
  left: -14px;
  margin-top: -15px;
}
.comparison-slider-wrapper .comparison-slider .divider.draggable:after {
  width: 20px;
  height: 20px;
  left: -9px;
  margin-top: -10px;
  background-color: #555;
}

.comparison-slider-wrapper .caption {
  position: relative;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 12px;
  font-style: italic;
}

/* slidershow css to hold image comparison sliders */

.carousel-wrapper{
  height:600px;
  position:relative;
  max-width: 1000px;
  margin:0 auto;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 25px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
  left:-30px;
  position: absolute;
  top:60%;
  transform:translateY(-50%) rotate(135deg);
}
 
.arrow-next{
    right:-30px;
  position:absolute;
  top:60%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}

@media (max-width: 800px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }

/*Select every element*/
[id^="item"] {
  display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
    
  
  }
/* .item-2{} */
/* .item-3{}  */

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }