body {
  margin: 0;
  padding: 0;
}  

/* Explore Pages */

.explore-wrapper {
  width: 80%;
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  margin: auto;
}

.explore-wrapper2 {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1.65fr;
  margin: auto;
}

.explore-wrapper3 {
  width: 90%;
  display: grid;
  grid-template-columns: 2.15fr 1fr;
  margin: auto;
}

.vis-wrapper {
  margin: auto;
  padding: 10px;
  width: 100%;
}

.text-wrapper {
  margin: auto;
  padding: 20px;
  width: 70%;
}
  
  .para {
    position: relative;
    width: 100%;
    top: -25px;
    padding: 10px 10px;
    opacity: 0;
    color:whitesmoke;
    font-family: "Lato";
    font-size: 1.1em;
  }

#igraph {
  width: 100%;
  max-height: 100%;
}
  
.mySlides {
  display:none;

}

.mySlides2 {
  display:none;
}

.mySlides3 {
  display:none;
}

.mySlides4 {
  display:none;
}
