
/* paragraphs */
@font-face{
    font-family: 'Raleway';
    src: url(fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face{
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Black.ttf);
}

/* headings */
@font-face{
    font-family: 'Domino';
    src: url(fonts/Domine/Domine-VariableFont_wght.ttf)
}
@font-face{
    font-family: 'Lato';
    src: url(fonts/Lato/Lato-Regular.ttf);
}