/* formatting */
*, *:before, *:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* Master Styles */

/* we can take out background transition if desired */
body {
    
    background-color: #002233;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}

/* -webkit-transition: all 1s ease 0s;
    transition: all 0.4s ease 0s;
    padding: 25px 0 600px;
     */

.container {
    display: grid;
    grid-template-columns: 1fr;
    background: url(https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2048x1152/4ea649b16731f346e7f5f6657040a2e0/photo-1449709992276-24bbca940809.jpg);
    background-size: cover;
}

.heading {
    display: block;
    margin: auto;
    text-align: center;
    height: 400px;
    padding: 150px 0;
}

.subheading {
    display: block;
    margin: auto;
    text-align: center;
    height: 200px;
    padding: 75px 0;
}

.heading h1 {
    font-family: "Raleway";
    font-size: 3.5em;
    font-weight: bold;
    color: whitesmoke;
    display: inline;
}

.heading h2 {
    font-family: 'Lato';
    font-size: 1em;
    color: whitesmoke;
}

.subheading h1 {
    font-family: "Raleway";
    font-size: 2.5em;
    font-weight: bold;
    color: whitesmoke;
    display: inline;
}

.subheading h2 {
    font-family: 'Lato';
    font-size: 1em;
    color: whitesmoke;
}

/* Nav Styles */
#navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgb(119,173,144,1);
    z-index: 1;
}

.left-side {
    display: flex;
}

#navbar > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: lowercase;
    font-family: "Raleway";
    margin-right: 40px;   
}

#navbar > .right-side > div {
    font-size: 0.9em;
    text-transform: lowercase;
    font-family: "Raleway";
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-box 0.5s;
}

#navbar a {
    color: whitesmoke;
    text-decoration: none;
    transition: color 0.5s;
    font-size: 1.3em;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid #002233;
}

.nav-link-wrapper a:hover {
    color: #002233;

}

.active-nav-link {
    border-bottom: 1px solid #002233;
}

.active-nav-link a {
    color: #002233 !important;

}

/* Story Styles */

.content-wrapper {
    margin: auto;
    text-align: center;
}

.textwrap {
    width: 70%;
    margin: auto;
    padding: 30px;
    
}

.boxwrap {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 10px;
    z-index: 0;
}

.boxwrap img {
    width: 100%;
    object-fit: cover;
    filter: brightness(50%) blur(4px);
    overflow: hidden;

}

.nohoverwrap {
    display: inline-block;
    width: 50%;
    padding: 10px;
    object-fit: contain;

}

.nohoverwrap img {
    padding: 5px;
    max-width: 100%;
}

/* image caption, on hover */
.caption{
    text-align: center;
    font-family: "Lato";
    color: whitesmoke;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 100%;
    text-align: left;
    opacity: 0;
}

.nohoverwrap:hover .caption{
    opacity: 1;
    transition: .5s;
}

/* Centered text */
#toptext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Raleway";
    text-align: center;
    font-size: 1.2em;
    font-weight: 800;
    color: whitesmoke;
    filter: brightness(100%) blur(0px);
}

p {
    margin: 10px;
    padding: 10px;
    color:whitesmoke;
    font-family: "Lato";
    font-size: 1.1em;
    text-align: left;
}

.subtitle {
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    color:whitesmoke;
    font-family: "Raleway";
    text-transform: uppercase;
    text-align: left;
    font-weight: 100;
    font-size: 1.7em;
}

.question {
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    color:whitesmoke;
    font-family: "Raleway";
    text-align: left;
    font-weight: 100;
    font-size: 1.5em;
}

/* hover component, needs to be specific with component */

.story-text h3:hover {
    font-size: 1.3em;
    font-weight: bolder;
    color: #002233;
    transition: 0.5s
}

.boxwrap img:hover {
    transition: 0.5s;
    filter: brightness(100%) blur(0);
    color: none;
}

.boxwrap img:hover + #toptext {
    transition: 0.5s;
    opacity: 0
}

/* Button */
/* Answer on click! */
#myANSWER1 {
    margin: 10px;
    padding: 10px;
    background: rgb(119,173,144,.5);

    color:whitesmoke;
    font-family: "Lato";
    font-size: 1.1em;
  }

#myANSWER2 {
    margin: 10px;
    padding: 10px;
    background: rgb(119,173,144,.5);
    max-width: 50%;
    color:whitesmoke;
    font-family: "Lato";
    font-size: 1.1em;
  }

#myANSWER3 {
    margin: 10px;
    padding: 10px;
    background: rgb(119,173,144,.5);
    color:whitesmoke;
    font-family: "Lato";
    font-size: 1.1em;
  }

#myANSWER4 {
    margin: 10px;
    padding: 10px;
    background: rgb(119,173,144,.5);
    max-width: 45%;
    float: right;
    color:whitesmoke;
    font-family: "Lato";
    font-size: 1.1em;
  }

.button:hover {
    background-color: rgb(119,173,144,0);
    border: none;
    font-size: 1.3em;
    font-weight: bolder;
    font-style: italic;
    color: whitesmoke;
    transition-duration: 0.4s;
    cursor: pointer;
    
}

.button {
    background-color: rgb(119,173,144,0);
    border: none;
    display: inline;
    margin: 5px;
    color:whitesmoke;
    font-family: "Lato";
    font-size: 1.2em;
    
}

.initiallyHidden { display: none; }

button:focus {outline:0;}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content-wrapper {
    padding-top: 200px;
  }


/* About Page */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
}

.profile-image-wrapper {
    padding: 20px;
    margin: auto;
}

.profile-image-wrapper img {
    width: 100%;
    object-fit: cover;
    margin: auto;
}

.profile-content-wrapper {
    padding: 30px;
    margin: auto;
}

.profile-content-wrapper h2 {
    color: whitesmoke;
    font-family: "Raleway";
    text-transform: uppercase;
    text-align: left;
    font-weight: 100;
    font-size: 1.5em;
    padding: 10px;
}

.profile-content-wrapper p {
    color: whitesmoke;
    font-family: "Lato";
    font-size: 1.1em;
    padding: 10px;
}


/* Border design, about page */

#box {
    background:
        linear-gradient(to bottom, rgb(119,173,144,1), rgb(119,173,144,1) 5px, transparent 5px),
        linear-gradient(to left, #b5d393, #b5d393 5px, transparent 5px),
        linear-gradient(to top,#002233, #002233 5px, transparent 5px),
        linear-gradient(to right, #002233, #002233 5px, transparent 5px);
    background-origin: border-box;
    background-color: rgb(119,173,144,.5);
  }

/* Resources page */

.external {
    font-family: "Lato";
    color: whitesmoke;
    float: right;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
  }

.res-wrapper-large {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 70%;
    margin: auto;
    padding: 20px;
    height: auto;
    overflow: hidden;
  }

.res-wrapper {
    padding: 20px;
    margin: 10px;
    padding: 10px;
  }
  
.ref-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin-top: 30px;
    height: auto;
    overflow: hidden;
  }

